    
        .social-button {
            transition: all 0.4s;
            position: fixed;
            right: 25px;
            bottom: 60px;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            background-color: #f6ac38;
            color: #fff;
            font-size: 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
            cursor: pointer;
            transition-delay: 1s;
            z-index: 1000;
        }

        .social-button-open {
            transition-delay: 0s;
            bottom: 85px;
            color: black;
            background-color: #ffffff;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        }

        .social-button .social-point {
            transition: all 0.4s;
            opacity: 0;
            width: 0px;
            height: 0px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            color: #fff;
            font-size: 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
            cursor: pointer;
            visibility: hidden;
        }

        .social-button .social-point:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        }

        .social-button .social-point:nth-child(2) {
            transition-delay: 0.3s;
            position: absolute;
            right: 50px;
            bottom: 50px;
            background-color: #3c4152;
        }

        .social-button .social-point:nth-child(3) {
            transition-delay: 0.4s;
            position: absolute;
            right: 50px;
            bottom: 50px;
            background-color: #DC4E41;
        }

        .social-button .social-point:nth-child(4) {
            transition-delay: 0.5s;
            position: absolute;
            right: 50px;
            bottom: 50px;
            background-color: #1da1f2;
        }

        .social-button .social-point:nth-child(5) {
            transition-delay: 0.6s;
            position: absolute;
            right: 50px;
            bottom: 50px;
            background-color: #49a942;
        }

        .social-button .social-point:nth-child(6) {
            transition-delay: 0.7s;
            position: absolute;
            right: 50px;
            bottom: 50px;
            background-color: #3b5998;
        }

        .social-button-open .social-point-open {
            opacity: 1;
            width: 50px;
            height: 50px;
            visibility: visible;
        }

        .social-button-open .social-point-open:nth-child(2) {
            right: 5px;
            bottom: 80px;
        }

        .social-button-open .social-point-open:nth-child(2):hover {
            transition-delay: 0s;
            background-color: #1EA551;
        }

        .social-button-open .social-point-open:nth-child(3) {
            right: 65px;
            bottom: 65px;
        }

        .social-button-open .social-point-open:nth-child(3):hover {
            transition-delay: 0s;
            background-color: #B14237;
        }

        .social-button-open .social-point-open:nth-child(4) {
            right: 80px;
            bottom: 5px;
        }

        .social-button-open .social-point-open:nth-child(4):hover {
            transition-delay: 0s;
            background-color: #1980BF;
        }

        .social-button-open .social-point-open:nth-child(5) {
            right: 65px;
            bottom: -65px;
        }

        .social-button-open .social-point-open:nth-child(5):hover {
            transition-delay: 0s;
            background-color: #3D8937;
        }

        .social-button-open .social-point-open:nth-child(6) {
            right: 5px;
            bottom: -80px;
        }

        .social-button-open .social-point-open:nth-child(6):hover {
            transition-delay: 0s;
            background-color: #2F4575;
        }

        .social-point i {
            position: relative;
            top: 3px;
        }
    </style>
    

    <style>
        .menulog {
            display: none
        }

        .menu {
            text-align: center;
            padding: 8px 0;
            background: #ececec;

        }

        .menu__links-item img {
            vertical-align: middle;
        }

        .menu__icon {
            display: none;
            width: 45px;
            height: 35px;
            position: relative;
            cursor: pointer;
        }

        .menu__icon span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: #333333;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        .menu__icon span:nth-child(1) {
            top: 0px;
        }

        .menu__icon span:nth-child(2),
        .menu__icon span:nth-child(3) {
            top: 13px;
        }

        .menu__icon span:nth-child(4) {
            top: 26px;
        }

        .menu__links-item {
            display: inline-block;
            color: #333333;
            font-family: Arial;
            font-size: 14px;
            line-height: 30px;
            padding: 0 10px;
            text-transform: uppercase;
            text-decoration: none;
        }

        .menu__links-item:hover {
            text-decoration: underline;
        }

        .menu.menu_state_open .menu__icon span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        .menu.menu_state_open .menu__icon span:nth-child(2) {
            transform: rotate(45deg);
            background: #fff;
        }

        .menu.menu_state_open .menu__icon span:nth-child(3) {
            transform: rotate(-45deg);
            background: #fff;
        }

        .menu.menu_state_open .menu__icon span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        .menu.menu_state_open .menu__links {
            display: block;
        }

        @media screen and (max-width: 999px) {
            .menulog {
                width: 100%;
                max-width: 55px;
                margin-left: 8px;
                margin-top: 0px;
                display: block
            }

            .menu {
                text-align: right;
                padding-top: 10px;
                padding-right: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .menu__icon {
                display: inline-block;
                z-index: 900;
            }

            .menu__links {
                position: fixed;
                display: none;
                top: 0;
                right: 0;
                left: 0;
                height: 100%;
                padding-top: 50px;
                background-color: rgba(0, 0, 0, 0.9);
                z-index: 100;
                overflow: auto;
            }

            .menu__links-item {
                display: block;
                padding: 10px 0;
                text-align: center;
                color: #ffffff;
                font-size: 24px;
                line-height: 45px;
            }

            .menu__links-item-mob {
                display: none;
            }

        }


        /* new */
        .gallery {
            width: 100%;
            max-width: 620px;
            margin: 0px auto;
        }

        .gallery-slider {
            width: 100%;
            height: auto;
            margin: 0 0 10px 0;
        }

        .gallery-slider .swiper-slide {
            width: auto;
            height: 478px;
        }

        .gallery-slider .swiper-slide img {
            display: block;
            width: auto;
            height: 100%;
            margin: 0 auto;
        }

        .gallery-thumbs {
            width: 100%;
            padding: 0;
            overflow: hidden;
        }

        .gallery-thumbs .swiper-slide {
            width: 150px;
            height: 150px;
            text-align: center;
            overflow: hidden;
            opacity: 0.5;
        }

        .gallery-thumbs .swiper-slide-active {
            opacity: 1;
        }

        .gallery-thumbs .swiper-slide img {
            width: auto;
            height: 100%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #e89e2c;
        }

        .price {
            z-index: 10;
            margin: -46px auto 10px;
        }


        .offer .bullet .pic {
            z-index: 1;
        }

        .offer .main-title {
            text-decoration: none;
            display: block;
        }

        /* end new */
